@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

.navbar {
  background-color: #232931;
}

.expired {
  color: red;
}

.valid {
  color: black;
}