<%- include('../partials/header') %>

    <h2>Enter a New Flight</h2>
    <form action="/flights" method="POST">
      <div class=create-flight>
      <p>Airline</p>
        <select name="airline">
            <option value="American">American</option>
            <option value="Delta">Delta</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
          </select>
      <p>Airport</p>
        <select name="airport">
            <option value="ATL">ATL</option>
            <option value="DFW">DFW</option>
            <option value="DEN" selected>DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
          </select>
      <p>Flight Number </p>
        <input type="text" class="input-ctr" name="flightNo" autocomplete="off">
      <p>Departure </p>
        <input type="datetime-local" name="departs" value="<%= departsDate %>" autocomplete="off">
        <p></p><button type="submit">Add Flight</button>
      </div>
    </form>

<%- include('../partials/footer') %>